/* Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */
/* Default asciidoc style framework - important */
@import url(https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css);

/* @import url(https://fonts.googleapis.com/css2?family=Macondo&display=swap); */
/* @import url('https://fonts.googleapis.com/css2?family=Macondo&family=Modern+Antiqua&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&family=Port+Lligat+Slab&display=swap'); */
/* @import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Macondo&family=Modern+Antiqua&display=swap'); */
/* @import url(//fonts.googleapis.com/css?family=Noto+Sans); */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=IM+Fell+English+SC&family=Special+Elite&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

/* CUSTOMISATIONS */
/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */
:root {
    --bg: #3b759e;
    --bg2: #134674;
    --bg: #586e75;
    --bg2: #073642;
    --bg: #A07E1E;
    --bg2: #625026;
    --bg: #8b743d;
    --bg2: #4F401C;
    --sidebarbackground: #21252b;
    --fg: #eee;
    --fg2: #ddd;
    --accent: #cb4b16;
    --font: "im fell english";
    --font-size: 1.5rem;
}

#footer {
    background-color: var(--bg);
    font-family: "lato";
    color: black;
    /* font-size: ; */
    text-align: center;
}

/* Text styles */

body {
    font-family: var(--font), sans-serif;
    background-color: var(--bg);
    color: var(--fg2);
}

.chiffre {
    font-family: "special elite";
  }


img {
    /* border-radius: 1em !important; */
    /* border: 1.5px solid var(--fg2); */
    background-color: var(--bg);
}

strong {
    font-style: normal;
    font-weight: normal;
    /* font-size: 1.6rem; */
    color: white;
}

.title {
    color: var(--fg) !important;
    font-family: var(--font), sans-serif;
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 50px !important;
}

h2 {
    font-size: 36px !important;
}

p {
    font-family: var(--font), sans-serif ! important;
    font-size: var(--font-size);
    color: var(--fg);
}

.intro {
    font-family: "im fell great primer" ! important;
    font-style: italic;
    /* font-size:1.65rem */
}

.conclusion {
    font-family: "rye" !important;
    color:black;
    /* text-align: center; */
}

blockquote {
    color: var(--fg) !important;
}

.quoteblock {
    color: var(--fg) ! important;
}

code {
    color: var(--fg2);
    background-color: var(--bg2) !important;
    font-family: var(--font);
    word-spacing: 0.25rem !important;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important; */
}

summary {
    font-size: 1.3rem;
    /* color: black; */
}

details p {
    font-size: 1.3rem !important;
}

details:not([open]) summary:hover {
    text-decoration: underline;
}

table {
    background-color:var(--bg);
}

table, td, th {
    border: none !important;
    border-collapse: collapse !important;
}

p.tableblock {
    font-family: "rye" !important;
    font-size: var(--font-size);
    color: black;
}

p.tableblock>code:only-child {
    padding: 0.2rem;
}

#toc.toc2 {
    background-color: var(--sidebarbackground);
}

#toctitle {
    color: var(--fg);
}

#toc.toc2 a:link {
    color: var(--accent);
}

a {
    color: var(--fg);
}

a:hover {
    color: var(--accent);

}

.exampleblock>.content {
    background-color: var(--bg);
}

.admonitionblock td.icon .icon-tip::before {
    text-shadow: none;
    color: var(--fg);
}

.admonitionblock td.icon .icon-note::before {
    color: var(--accent);
}

.admonitionblock td.icon .icon-important::before {
    color: var(--accent);
}

.admonitionblock td.icon .icon-warning::before {
    color: var(--accent);
}

#preamble>.sectionbody>.paragraph:first-of-type p {
    font-family: "rye" !important;
    font-size: 1.3rem !important;
}

.quoteblock blockquote::before {
    color: var(--accent);
}

.quoteblock .attribution cite,
.verseblock .attribution cite {
    color: var(--fg);
}

.verseblock pre {
    color: var(--fg);
}

.quoteblock blockquote,
.quoteblock blockquote p {
    color: var(--fg);
}

.sidebarblock {
    background: var(--sidebarbackground);
}

.literalblock pre,
.listingblock pre:not(.highlight),
.listingblock pre[class="highlight"],
.listingblock pre[class^="highlight "],
.listingblock pre.CodeRay,
.listingblock pre.prettyprint {
    background: var(--sidebarbackground);
    color: var(--fg);
}
